/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic (CALLED IN ANOTHER FILE)
	- Normalize
	- Box sizing
	- Media width
# Base
	- Typography
	- Elements
	- Links
# Layouts
# Components
	- Header
	- Main
	- Footer
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/

/* Typography
--------------------------------------------- */
body {
	font-family: 'lato', 'arial','sans-serif';
    font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'lato', 'arial','sans-serif';
}

p {
	
}


/* Elements
--------------------------------------------- */
ul {
	
}

ol {
	
}

dl {
	
}

figure {
	
}

table {
	border-collapse: collapse;
	border: 2px solid #000000;
	text-align: center;
}
th,td{
	border: 1px solid #000000;
	padding: 1rem;
}

blockquote{
	padding: 2rem;
	width: 80%;
	margin: 0 auto;
	border: 2px solid #470000;
}
blockquote h2{
	margin: 0;
	font-weight: 1000;
}

/* Links
--------------------------------------------- */

a {
	color: #ffffff;
	padding:1rem;
	text-decoration: none;
}

a:visited { 
	color: #ffffff;
}

a:hover,
a:focus,
a:active {
	background-color: #ffffff;
	color: #850000;
	transition: ease-in-out .4s;
}


/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/

/* Header
--------------------------------------------- */
header{
	background-color: black;
	position: fixed;
	bottom: 0;
	padding: 1rem;
	width: 100vw;
	z-index: 100;
	display: flex;
	justify-content: space-around;
}
/* Main
--------------------------------------------- */

.banner{
	position: relative;
	
}
.banner h1{
    position: absolute;
	color: #ffffff;
	left: 0;
	right: 0;
	bottom: 50%;
	width: fit-content;
	margin: 0 auto;
    font-size: 2rem;
	z-index: 1;
}

.banner video{
    display: block;
	object-fit: cover;
	height: 20rem;
	width:100%;
	object-position: bottom;
}

.banner img{
	display: block;
	object-fit: cover;
	height: 20rem;
	width:100%;
	object-position: center;
	filter: brightness(50%);


}

.imgWrapper{
	height: 300px;
	border-radius: 20px;
	overflow: hidden;
}


/* https://www.w3schools.com/css/css3_object-fit.asp */
.image-container {
  
  margin: 1rem;
  position: relative;
  
 
  
}

.image-container img{
	backface-visibility: hidden;
}

.image-container:hover img{
	transition: .5s ease;
	filter: brightness(70%);

}
.overlay{
	transition: .5s ease;
  	opacity: 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 50%;
	
	margin: 0 auto;
	
}

.overlay p{
	background-color: #000000;
	color: #ffffff;
}

.image-container:hover .overlay{
	opacity: 1;
}

.image-container img {
	border-radius: 20px;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

article img{
	display: block;
	
	height: 400px;
	width: auto;
	object-fit: cover;
	object-position: center;
	top: 0;
	

	transition: 0.8s ease;
}

article img:hover{
	transform: scale(1.2);
	
}

.imglink{
	padding: 0;
	
}

.cards, .about{
	margin: 2rem;
}

/* Footer
--------------------------------------------- */
footer{
	display: flex;
	justify-content: center;
	height: 10rem;
	background-color: #470000;
	color: #ffffff;
}

/* media queries */
@media screen and (min-width: 45em){
	header{
		position: sticky;
		top: 0;
	}

	.banner h1{
		font-size: 4rem;
	}
	
	blockquote{
		width: 30%;
	}
	.three-column{
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		column-gap: 2rem;
		margin: 3rem;
	}

	.three-by-three{
		
		display: grid;
		grid-template-columns: repeat(3, 20rem);
		grid-template-rows: repeat(3, 20rem);
		gap: 1rem;
		justify-content: center;
		
	}


	.banner video{
		height: 40rem;
	}
	.cards{
		margin: 6rem;
	}	

	.about{
		margin:6rem 30vw;
	}
}